/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Baskerville', serif;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/*----------------Colors------------------*/
/*----------------Mixins-------------------*/
/*----------------Styling Begins-------------*/
.container {
  font-size: 3rem;
  width: 85%;
  margin: 0 auto;
}
header {
  margin-left: 7rem;
  margin-bottom: 13rem;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 4.5rem;
  margin: 5rem;
}
.resume-intro {
  display: flex;
  font-size: 2rem;
  width: 100%;
  border-radius: 2rem;
  justify-content: space-around;
  background: #dcdcdc;
}
.resume-intro .name {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: white;
  border-right: 1px solid gray;
}
.resume-intro .name img {
  border-radius: 5rem;
  margin-top: 3rem;
  margin-right: 1.8rem;
  margin-bottom: 5rem;
  width: 32em;
  box-shadow: 5px 10px 20px black;
}
.resume-intro .name h1 {
  font-size: 7rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.resume-intro .name h2 {
  font-size: 3.6rem;
  color: #696969;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.snippet {
  width: 40%;
  margin: 2rem;
  line-height: 5rem;
  word-spacing: 1rem;
  font-size: 3.4rem;
  font-weight: bold;
  color: #FFFFFF;
  align-self: center;
}
.snippet p {
  margin-right: 1.3rem;
}
.resume-middle {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
}
.resume-middle .section1 {
  display: flex;
  width: 45%;
  flex-direction: column;
  font-size: 2rem;
  line-height: 4rem;
  justify-content: space-between;
}
.resume-middle .section1 p {
  font-size: 2.6rem;
}
.resume-middle .section2 {
  width: 45%;
  line-height: 5rem;
}
.resume-middle .section2 p {
  border-bottom: 1px solid #696969;
}
.resume-middle .section2 h2 {
  border-bottom: 1px solid #696969;
}
.resume-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 23rem;
  width: 90%;
  margin-bottom: 10rem;
  margin-left: 10rem;
}
.resume-bottom .experience {
  margin-top: 4rem;
}
.resume-bottom .experience table {
  width: 100%;
}
.resume-bottom .experience table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.resume-bottom .experience table,
.resume-bottom .experience th,
.resume-bottom .experience td {
  border: 1px solid black;
  padding: 4rem;
}
footer p {
  margin-top: 50rem;
  margin-left: 65rem;
  height: 10rem;
}
