// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size:  62.5%;
}

body {
	max-width: 1080px;
	width: 100%;
	font-size: 1.5rem
}

	h1, h2, h3, h4, h5 {
		font-family: 'Libre Baskerville', serif;
		font-size: 2.5rem;
		letter-spacing: 1px;
		margin-bottom: 15px;
}

/*----------------Colors------------------*/ 
@main-color: #ebebeb;
@accent-color: #800000;
@dark-color: #696969;

/*----------------Mixins-------------------*/
.flex(){
	display: flex;
	justify-content: space-between;
}

.heading-mrg(){
	margin: 2rem 0 0 5rem;
}

/*----------------Styling Begins-------------*/

.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;

		// @media(max-width: 500px){
		// 	width: 100%;
		// 	font-size: 2rem;
		// }
}

 	header {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 3rem 0;
	
			nav {
				width: 100%;
				margin: 0 0 0 7rem;
	
				// @media(max-width: 500px){
				// 	flex-direction: column;
				// }

				
					a{
						margin: 0 5rem;
						justify-content: space-between;
						justify-content: center;
						text-decoration: none;
						font-size: 2rem;
						color: black;

						// @media(max-width: 500px){
						// 	margin: 0;
						// 	width: 100%;
						// 	font-size: 5rem;
						// 	line-height: 0;
						// 	margin-top: 3rem;
						// 	border-bottom: 1px solid black;  
						// 	padding-bottom: 4rem;
						// }
						}	
					}
				}			
	

	.resume-intro {
	display: flex;
	width: 100%;
	border-radius: 2rem;
	justify-content: space-around;
	background: @main-color;

	// 	@media(max-width: 500px){
	// 		width: 100%;
	// 		font-size: 2rem;
	// 		border-right: 0;
	// 		margin-left: 67rem
	// 	}
	
		.name {
			flex-direction: column;
			width: 60%;
			margin: 3rem 2rem;
			padding-right: 2rem;
			color: white;
			border-right: 2px dotted white;

				// @media(max-width: 500px){
				// 	width: 100%;
				//}
			}
	
			img{
				border-radius: 5rem;
				width: 27em;
				margin-left: 3rem;
				box-shadow: 5px 10px 20px black;
	
	// 				@media(max-width: 500px){
	// 					margin: 0px 0px 0px 0px;
	// 					width: 100%;
	// 					font-size: 2rem;
					
	 				}		
		
			h1 {
				font-size: 3.7rem;
				color: #696969;
				.heading-mrg()
			}
			h2 {
				font-size: 2rem;
				margin-bottom: 2rem;
				color: darkgray;
				.heading-mrg();
				margin-top: 1rem;
 			}

		.snippet {
			width: 40%;
			font-size: 1.8rem;
			padding: 2rem;
			color: @dark-color;
			align-self: center;
		 
		 // 		@media(max-width: 900px){
		 // 			display: none;
		 // 		}
			 }
 	}

	
	.resume-middle {
		display: flex;
		width: 100%;
		height: 15rem;
		margin: 5rem 2rem;
		justify-content: space-evenly;

		.section1 {
			width: 40%;
			flex-direction: column;
			font-size: 1.8rem;
			justify-content: space-between;
			
			h2 {
				border-bottom: 2px solid @dark-color;
			}
			
			p {
				line-height: 2.3rem;
				margin-top: 3rem;
			}
		}
				

		.section2 {
			width: 40%;
			font-size:  1.8rem;
			
				p {
				border-bottom: 1px solid @dark-color;
					padding: 2rem 0;
				}

				h2 {
					border-bottom: 2px solid #696969;
				}
		}
	}

.resume-bottom {
	margin-top: 20rem;
	width: 80%;
	height: 25rem;
	margin: 20rem 10rem 10rem 11rem; 

		h2{
			border-bottom: 2px solid @dark-color;
		}
	
		.experience {
			margin-top: 3rem;
			
			table {
				width: 100%;
				tr:nth-child(even) {background-color: #f2f2f2;}
			}

			table, th, td {
				text-align: left;
				border-bottom: 1px solid black;
				border-radius: .5rem;
				padding: 2rem;
			}
		}
}
			
footer {
	display: flex;
	justify-content: center;
	margin-bottom: 1.6rem;
}
